body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: gray;
}

#header {
    font-weight: bolder;
    font-size: 20px;
}

#avgs {
    width: 300px;
}

.avg {
    float: left;
}

label {
    font-weight: bold;
    float: left;
    width: 150px;
}